apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: books
type: Opaque
stringData:
  username: postgres
  password: postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: books
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: books_db
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: password
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: books
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
