name: Build and Push Images

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_OWNER: loranazarenko

jobs:
  build-gateway:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Build with Maven
        working-directory: ./gateway
        run: mvn clean package -DskipTests
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and Push
        working-directory: ./gateway
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/gateway:latest .
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/gateway:latest

  build-books-service:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Build with Maven
        working-directory: ./books-service
        run: mvn clean package -DskipTests
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and Push
        working-directory: ./books-service
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/books-service:latest .
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/books-service:latest

  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and Push
        working-directory: ./frontend
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/book-statistics-frontend:latest .
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_OWNER }}/book-statistics-frontend:latest
